<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fizzbuzz.com.parsley.arvixe.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>PARSLEY.arvixe.com</MSDeployServiceURL>
    <DeployIisAppPath>fizzbuzz.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>fizzbuzzcom_adm</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FizzBuzzContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Common.FizzBuzzContext, Common" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FizzBuzzWebApplication.Models.SetUpContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FizzBuzzWebApplication.Models.SetUpContext, FizzBuzzWebApplication" MigrationConfiguration="FizzBuzzWebApplication.Migrations.Configuration, FizzBuzzWebApplication" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FizzBuzzDatabaseConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PARSLEY.arvixe.com;Initial Catalog=FizzBuzz;Integrated Security=False;User ID=JosephGarza;Password=Fox!1212" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FizzBuzzDatabaseConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PARSLEY.arvixe.com;Initial Catalog=FizzBuzz;Integrated Security=False;User ID=JosephGarza;Password=Fox!1212" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FizzBuzzWebApplication.Models.SetUpContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FizzBuzzWebApplication.Models.SetUpContext" />
  </ItemGroup>
</Project>